#hold-table{
    width:800px;
    margin:auto;
    margin-top: 145px
}
#select-label{
    line-height:40px;
    vertical-align:top;
    width:100px;
    font-size:16px;
    color:#999;
    font-family: "Microsoft Yahei";
}
#select-box{
    text-align: left;
    line-height:28px;
    vertical-align:top;
}
#select-group{
    height: 28px;
    float: left;
}
#left-btn{
    float:left;
    margin-top:10px;
}
.btn-mid {
	padding:10px;
	font-size:14px;
}
.btn-mid-l {
    height: 22px;
    line-height: 22px;
}
.ui-combobox .ui-autocomplete-input {
	padding: 10px;
	font-size: 16px;
	font-family: "微软雅黑";
    height: 20px;
    color: #333;
}
i{
    margin-top:4px;
    margin-right:10px;
}
.ui-menu .ui-menu-item a{
    padding:6px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background:none;
}
